
<div th:replace="layouts/boilerplate :: boilerplate">...</div>
<style>
    .column{
        margin : auto;
    }
</style>
    <body>
     <div th:replace="includs/navbar:: header">...</div>

      
        <div class="container">
            <div class="alert alert-danger mt-4 " role="alert">    
                <h5 class="err" th:text="${err}"></h5>
                
              </div>
        </div>

      <div th:replace="includs/footer :: footer">...</div>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                    crossorigin="anonymous"></script>
    </body>

    </html>